.navigation-bar {
	background-image: var(--navigation-bar-background);
	display: flex;
	flex-wrap: wrap;
	font-size: var(--navigation-font-size);
	width: 100%;
	max-width: 100%;
	justify-content: space-evenly;
	position: sticky;
	top: 0;
	z-index: 10;
}
