.navigation-bar {
	align-items: center;
	background-image: var(--navigation-bar-background);
	display: flex;
	font-size: var(--navigation-font-size);
	height: 30px;
	justify-content: flex-start;
	padding: 0 2px 0 0;
	position: sticky;
	top: 0;
	z-index: 10;
}
